// body {
//
//   background-color: linear-gradient(to bottom, #1a82f7, #2F2727);
//
// }


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family:'Press Start 2P', cursive;
  background: linear-gradient(to bottom, blue, white);
}

h1 {
  text-align:center;
}

.container {
  padding:10px;
  display:flex;
  justify-content: space-around;
  max-width:960px;
  margin: 0 auto;
}

.instructions {
  text-align:left;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
    li {
      border: 1px solid;
      height: 25px;
      width: 25px;
      font-size: 30px;
      line-height: 30px;
      background-color:transparent;
    }
  }

.info {
  max-width:480px;
  text-align:center;
}

img {
  max-width:75%;
}

button {
  padding:10px;
  box-shadow: inset -14px -14px 15px -17px rgba(0,0,0,0.75);
  margin:20px 40px;
  font-family:'Press Start 2P', cursive;
  color:white;
  background-color:#6fa31d;
  outline:none;
  border:1px solid black;
}

.musicBtn {
  width:50px;
}

.hidden {
  display:none;
}

.color {
   box-shadow: inset -14px -14px 15px -17px rgba(0,0,0,0.75);
}



.fixed {
  box-shadow: inset -14px -14px 15px -17px rgba(0,0,0,0.75);
}

.red {
  background-color: #fc0e1b;
}

.green {
  background-color: #29fd2f;
}

.yellow {
  background-color: #f6d331;
}

.cyan {
  background-color: #3bc7ed;
}

.blue {
  background-color: dodgerblue;
}

.purple {
  background-color: #ac519d;
}

.orange {
  background-color: #ed7931;
}
