body {
  font-family:'Press Start 2P', cursive;
}

h1 {
  text-align:center;
}

.container {
  display:flex;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 330px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: auto;
    li {
      border: 1px solid;
      height: 30px;
      width: 30px;
      font-size: 30px;
      line-height: 30px;
    }
  }

// .red {
//   background-color: red;
// }
//
// .green {
//   background-color: green;;
// }
//
// .yellow {
//   bakground-color: yellow;
// }
//
// .blue {
//   background-color: blue;
// }
//
.fixed {
  background-color: grey;
}
